/*Google fonts Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600&display=swap');

/*Margin & border */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General font styling  */

body {
    font-family: 'Alegreya', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
   }

/*Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 10%;
}

#logo   {
    float:left;
    width: 100px;
    margin-top: 20%;
    box-shadow: 0 2px 2px #64A0A0;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*Main content*/
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
    }
/* Hero img-section */
#hero {
    width: 101%;
    height: 600px;
    background: url("../images/hero1.webp") no-repeat center center/cover;
    position: relative;
    }

.textbox {
    margin-top: 150px;
    margin-left: 30px;
    width: 110px;
    height: fit-content;
    background-color: rgba(199, 168, 168, 0.6);
    color: #ffffff;
}
.freeyourmind {
    color: #ffffff;
    text-align: center;
    padding-bottom: 10px;
}
.join   {
    margin-left: 30px;
    width: 110px;
    margin-top: 20px;
    background-color: rgba(199, 168, 168, 0.6);
    color: #ffffff;
}

/*Footer*/
footer {
    background-color: black;
    width: 100%;
}

/*icons for social media*/
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #f5f3f3;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        margin-top: 40px;
        margin-left: 30px;
        margin: 0 auto;
        width: 240px;
        top: 30px;
        }
    .textbox {
        height: fit-content;
        width: 200px;
        margin-top: 100px;
        margin-left: 30px;
        margin-right: 400px;
      
        }
    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 120px;
    }

    /* Hero */
    #hero {
        height: 600px;
        width: 100%;
    }

    /* Cover text on larger device */
    #container {
        margin-top: 0;
        width: 300px;
        right: 50px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 120px;
    }

    /* Hero img bigger on large device*/
    #hero {
        height: 900px;
        width: 100%;
    }

    #logo {
        margin-top: 60px;
        margin: 0 auto;
        width: 400px;
        top: 50px;
    }
    .textbox {
        height: 300px;
        width: 200px;
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 400px;
      
        }

}