/*Google fonts Merriweather */
@import url('https: fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,500&display=swap');

/*Margin & border */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General styling  */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

/* Generic project styles */
    color: #010101;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 0;
}

/* Header */
header {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    position: fixed;
    z-index: 99;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    height: 16vh;
    border-bottom: 6px double #64A0A0;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logotype {
    width: 200px;
    margin-left: 2vh;
    margin-top: 4vh;
    box-shadow: 10px 10px 5px rgb(75, 72, 72);
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    width: 50%;
    right: 0;
    display: none;
    background-color: white;
    color: rgb(1, 1, 1);
    line-height: 30px;
    margin-top: 16vh;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: xx-large;
    color: rgb(100,160,160);
    margin-top: 7vh;
    margin-right: 42vh;
    margin-left: 1.5vh;
    padding-left: 2vh;
}

/* Main content */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Hero section */

#hero {
    height: 700px;
    width: 100%;
    background: url("../images/heronew.webp") no-repeat center center/cover;
    position: relative;
    text-align: center;
    border-bottom: 6px double #64A0A0;
   }

#cover-text {
    position: absolute;
    top:54vh;
    background-color: rgb(255, 255, 255, 0.6);
    width: 100%;
    height: fit-content;
    color: rgb(7, 7, 7);
    text-align: center;
    font-size: 15px;
}
.joinbutton {
    margin-top: 1vh;
    width: 150px;
    height: 150px;
       }

/* Heading: Uniqe concept */
.concept {
    margin-top: 1vh;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    color: #64A0A0;
    text-decoration: dotted;
    font-weight: bold;
}

/*flexbox joinus */
.container-joinus {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: baseline;
    max-width: 270px;
    justify-content: space-evenly;
    gap: 3vh;
    margin-top: 10vh;
      }

 .container-joinus >img  {
    width: 200px;
    height: 200px;
    align-items: center;
    box-shadow: 10px 10px 5px rgb(75, 72, 72);
     }

     .stepsartstudio {
    width: 100%;
    margin-bottom: -10vh;
}

/*End of flexbox Join us */
/*About Camilla*/
/*Slideshow - The animation is set to 20 seconds and as there are four images the animation delay is set at 5 seconds difference (eg 0s, 5s, 10s, 15s).*/

.soldart {
    display: flex;
    justify-content: center;
    background-color: black;
    gap: 3vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 2vw;
    border-bottom:5px double #64A0A0;
 }
 .camillaslideshow {
    width: 130px;
    height: 130px;
}

.carousel {
    width:130px;
    height:130px;
    position:relative; 
}
.carousel > img { 
    position:absolute; 
    animation:carousel  20s infinite; 
    opacity:0; 
    width:130px;
    height:130px;
}

    @keyframes carousel {25%{opacity:1;} 40%{opacity:0;}}
    .carousel img:nth-child(4){animation-delay:0s;}
    .carousel img:nth-child(3){animation-delay:5s;}
    .carousel img:nth-child(2){animation-delay:10s;}
    .carousel img:nth-child(1){animation-delay:15s;}

.yourcoach {
        color: #fafafa;
        background-color: #000000;
        font-size: 14px;
        font-style: italic;
        width: 100%;
        height: 22vh;
        padding-left: 4vw;
              }

.yourcoach a {
             color:pink;
              }

footer{
        position: fixed;
        bottom: 0;
        width: 100%;   
        height: 12vh;
        background-color: rgb(100,160,160);                             
                    }   

    .social-networks{
        text-align: center;
            }
    
    .social-networks li{
        display: inline;
    }
    
    .social-networks i{
        font-size: 160%;
        margin: 1%;
        padding: 5%;
        color: #fdfafa;
        padding-top: 4vh;
    }
/*Formsection */
       .form-section {
        clear: left;
        background: url("../images/hemo4.webp");
        background-size: cover;
        background-position: center;
        height: 900px;
    }
    
    .signup-form {
        margin: 150px 10% 0 0;
        color: #fff;
        background-color: rgba(60, 60, 60, 0.7);
        max-width: 400px;
        position: absolute;
        left: 10%;
        padding: 9px;
    }
    
    .signup-form > h2 {
        color: #F699cd;
        margin-bottom: 20px;
    }
    
    .text-input {
        background: transparent;
        color: #fafafa;
        width: 100%;
        height: 25px;
        margin: 5px 0 20px 0;
        border: 1px solid #fafafa;
        border-radius: 2px;
    }

.text-input:hover {
    border-color: #F699cd;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #F699cd;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #F699cd;
}

.faqbutton {
   width:100px;
   height:100px;
    }

.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
  }
  .modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  .modal-window > div {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
    align-items: center;
    color: #010101;
    font-size: 14px;
  }
 
 .modal-window h1 {
    background-color: #64A0A0;
    color: white;
    font-size: 18px;
    margin: 0 0 15px;
    text-align: center;
  }
  .faq {
    font-size: 14px;
    font-style: italic;
  }

 .modal-window h2 {
    font-size: 14px;
    font-weight: bold;
    color: #64A0A0;
 }

  .modal-close {
    color:#000000;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    text-decoration: none;
  }
  .modal-close:hover {
    color:#64A0A0;
    font-weight: bold;
  }

.camillapicture{
     height: 50vh;
     width: 50vw;
}
  
/*Photogallery on inspiration page*/
.aboutgallery{
    margin-left: 10vw;
    width: 80%;
    height: 400px;
    margin-top: 10vh;
    text-align: center;
}
/*headings at all pages small device*/
.heading-all{
    font-size:18px;
    color: #64A0A0;
    font-weight: bold;
    padding-bottom: 2vh;
    margin-top: 13vh;
    text-align: center;
}
.aboutgallery p{
    font-size:16px;
    font-style: italic;
    padding-bottom: 2vh;
}

.aboutgallery img {
    width: 100px;
    height: 100px;
}
 #gallery {
    margin-top: 47px;
    max-width: 1000px;
    margin: auto;
  }
  .photogallery {
    margin-top: -8vh;
  }

  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .phrow {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .phrow,
  .phrow > .phcol {
    padding: 22px;
  }
  
   .phcol {
    float: left;
    width: 100%;
  }
  
  /* Clear floats after rows */
  .phrow:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .phcontent {
    background-color: #f5f5f5;
    padding: 19px;
    padding-bottom: 2vh;
    box-shadow: 20px 16px 20px 1px black;
  }
 .soldart-last {
    padding-bottom: 10vh;
    margin-bottom: 10vh;
    box-shadow: 20px 16px 20px 1px black;
 }
 .phcontent h3 {
    text-align: center;
}

.phcontent >p {
    text-align: center;
    margin-bottom: 10vh;
}

.girlpowertext {
     margin-top:-17vh;
     text-align: center;
     margin-bottom: 10vh;
}
/*About page*/
.aboutcamilla {
    display: flex;
    margin-top: 3vh;
    margin-bottom: 20vh;
    flex-direction: column;
    align-items: center;
  }

.aboutcamilla img {
    width: 200px;
    height: 200px;
    padding-bottom: 2vh;
}

.cdhistory {
    margin-left: 20px;
    margin-right: 20px; 
    font-style: italic;
     line-height: 20px;
     letter-spacing: 2px;
     font-size: 16px;
}

   /* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: inline ;
        color: black;
        font-size: 18px;
        margin-top: 2vh;
        margin-right: 11vw;
        }
       
 #logotype {
            width: 250px;
            margin-left: 3vw;
            }

#menu {
        display: flex;
        margin-left: -3px;
        margin-bottom: 20px;
        line-height: 25px;
        margin-top: 5vh;
         }

#menu > li {
        padding-left: 1rem;
        margin-right: 13px;
    }

.nav-toggle-label {
        display: none;
    }
#menu a:hover{
       font-weight:bold;
    }

 /* Hero section */
#cover-text  {
    width: 50%;
    top: 22vh;
}

#cover-text >h2   {
    text-align: center;
    font-size: 26px;

}
#cover-text >h3   {
    text-align: center;
    font-size: 20px;
}

.joinbutton {
        margin-top: 1vh;
        margin-right: 10vw;
        margin-bottom: 3vh;
            }    

/*headings at all pages small device*/
.heading-all{
    font-size:30px;
    color: #64A0A0;
    font-weight: bold;
    padding-bottom: 2vh;
    margin-top: 20vh;
    text-align: center;
}

/*flexbox joinus */
.container-joinus {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: baseline;
    max-width: 750px;
    justify-content: space-evenly;
    gap: 4vh;
    margin-bottom: 10vh;
    margin-top: 10vh;

      }
     .camillaslideshow {
        width: 350px;
        height: 350px;
    }
    
    .carousel {
        width:350px;
        height:350px;
        position:relative; 
    }
    .carousel > img { 
        position:absolute; 
        animation:carousel  20s infinite; 
        opacity:0; 
        width:350px;
        height:350px;
    }
.yourcoach  {
    margin-bottom: -82vh;
    font-size: 24px;
 }

 /*Inspiration page*/
 .aboutgallery p{
    font-size:26px;
    font-style: italic;
    padding-bottom: 2vh;
}

.aboutgallery img{
    width: 100px;
    height: 100px;
    }

 .photogallery {
    padding-top:20vh;
    padding-bottom: 10vh;
 }
 .content {
    padding: 8px;
    padding-bottom: 1vh;
 
 }
 
 .phrow, .phrow > .phcol {
            padding: 30px;
        }
 .phcol {
        float: left;
         width: 50%;   
    }
    
 img.soldart-last {
    padding-bottom: 12vh;
    margin-bottom: -48vh;
}
.girlpowertext {
    margin-top:20vh;
    padding: 200px;
    font-size: 28px;
    text-align: center;
}
/*About page*/
.aboutcamilla {
    margin-top: 5vh;
    margin-bottom: 20vh;
    width: 100%;
    background-color: rgb(246, 153, 205, 0.4);
    padding-top: 10vh;
    padding-bottom: 10vh;
}
/*About page*/
.aboutcamilla img{
    width: 350px;
    height: 350px;
    align-items: center;

}
.cdhistory {
    margin-left: 20px;
    margin-right: 20px; 
    font-style: italic;
    line-height: 24px;
    letter-spacing: 2px;
    font-size: 20px;
    width: 350px;
}
.story4 {
    font-size: 18px;
    line-height: 18px;  
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    #menu {
        display: flex;
        margin-bottom: 20px;
        line-height: 25px;
        margin-top: 5vh;
         }

    #cover-text  {
        width: 25%;
        top: 22vh;
    }
 .joinbutton {
        margin-top: 1vh;
        width: 200px;
        height: 200px;
        margin-right: 3vw;
        margin-bottom: 3vh;
            }    

 /*flexbox joinus */
 .container-joinus >img  {
    width: 300px;
    height: 300px;
    align-items: center;
   box-shadow: 10px 10px 5px rgb(75, 72, 72);
                 }   

 .container-joinus {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    gap: 150px;
    row-gap: 30px;
    margin: 0 auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
 } 
 .yourcoach {
      padding-left: 28vw;
      height: 32vh;
}
 /* Responsive photogallery - makes the two columns stack on top of each other */
   .phcontent {
      width: 100%;
    }

/* four equal columns that floats next to each other */
.phcol {
    float: left;
    width: 12,5%;
  }

  img.soldart-last {
    padding-bottom: 28vh;
    margin-bottom: -25vh;
}

 .girlpowertext {
        margin-top:-12vh;
        padding: 119px;
            }
}
   

} 
