/*Google fonts Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,500&display=swap');

/*Margin & border */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General font styling  */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Montserrat', sans-serif;
}

/* Header */
header {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 10vh;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logotype {
    width: 50vw;
    margin-top: 3vh;
    margin-left: 0vh;
    box-shadow: 5px 5px 5px grey;
    
}

#menu {
    font-size: x-large;
    letter-spacing: 4px;
    list-style-type: none;
    margin-top: 4vh;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: rgb(100,160,160, 0.6);
    width: 59vw;
    right: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    color: white;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: x-large;
    color: rgb(100,160,160);
    margin-top: 2vh;
    margin-right: 1vh;
}

/* Main content */
main {
    background-color: rgb(255, 255, 255);
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Footer */
footer {
    background-color: #64A0A0;
    height: 10vh;
    width: 100%;
}

/*icons for social media*/
#social-networks{
    text-align: center;

}

#social-networks li{
    display: inline;
}

#social-networks i{
    font-size: 240%;
    margin: 1%;
    padding: 5%;
    color: #fafafa;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }
}