/*Google fonts Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600&display=swap');

/*Margin & border */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoytype {
    width: 50vw;
    margin-top: 20%;
    margin-left: 2vw;
    box-shadow: 0 2px 2px #64A0A0;
}


/*General font styling  */

body {
    font-family: 'Alegreya', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
   }

/*Header */
